accelerate==0.16.0
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.10.3
anyio==3.6.2
appdirs==1.4.4
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
beniget==0.4.1
biopython==1.79
bitsandbytes==0.37.1
blis==0.7.9
catalogue==2.0.8
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
chromadb==0.3.11
click==8.1.3
clickhouse-connect==0.5.16
cmaes==0.9.1
cmake==3.26.0
colorlog==6.7.0
confection==0.0.4
conllu==4.5.2
cycler==0.11.0
cymem==2.0.7
Cython==0.29.28
dataclasses-json==0.5.7
decorator==5.1.1
deeptoolsintervals==0.1.9
dill==0.3.4
distlib==0.3.4
distro==1.7.0
docutils==0.18.1
duckdb==0.7.1
en-core-sci-sm==0.5.1
executing==0.8.3
fairscale==0.4.13
fastapi==0.94.1
filelock==3.6.0
fire==0.5.0
flit==3.7.1
flit_core==3.7.1
fonttools==4.29.1
frozenlist==1.3.3
future==0.18.2
gast==0.5.3
graphviz==0.19.1
greenlet==2.0.2
h11==0.14.0
h5py==3.6.0
hnswlib==0.7.0
httptools==0.5.0
huggingface-hub==0.12.1
hypothesis==6.38.0
idna==3.3
iniconfig==1.1.1
InstructorEmbedding==1.0.0
ipython==8.1.1
ipython_genutils==0.2.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.3.2
langchain==0.0.113
langcodes==3.3.0
line-profiler==3.4.0
lit==15.0.7
littleutils==0.2.2
llvmlite==0.38.1
loralib==0.1.1
lz4==4.3.2
Mako==1.1.6
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
memory-profiler==0.60.0
mpmath==1.3.0
msgpack==1.0.3
multidict==6.0.4
multiprocess==0.70.12.2
murmurhash==1.0.9
mypy==0.931
mypy-extensions==0.4.3
networkx==2.7
nltk==3.8.1
nmslib==2.1.1
numba==0.55.2
numpy==1.22.2
numpy-groupies==0.9.17
numpydoc==1.2.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py3==7.352.0
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
nvidia-smi==0.1.3
optuna==3.1.1
packaging==21.3
pandas==1.4.1
parso==0.8.3
pathy==0.10.1
peft @ git+https://github.com/huggingface/peft.git@64f63a7df2a02cfd144592d9aa9c871b59258c55
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pkgconfig==1.5.5
platformdirs==2.5.1
plotly==5.7.0
pluggy==1.0.0
ply==3.11
pox==0.3.0
pp==1.6.4.4
preshed==3.0.8
prompt-toolkit==3.0.28
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py2bit==0.3.0
pyBigWig==0.3.18
pybind11==2.6.1
pycparser==2.21
pycuda==2022.1
pydantic==1.10.6
Pygments==2.11.2
pyparsing==3.0.7
pysam==0.19.0
pysbd==0.3.4
pytest==7.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pythran==0.10.0
pytz==2021.3
PyVCF==0.6.8
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
sacremoses==0.0.53
scikit-build==0.13.1
scikit-learn==1.0.2
scipy==1.8.0
scispacy==0.5.1
sentence-transformers==2.2.2
sentencepiece==0.1.97
setuptools-scm==6.4.2
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
sorcery==0.2.2
sortedcontainers==2.4.0
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
Sphinx==4.5.0.dev20230710
SQLAlchemy==1.4.31.dev0
srsly==2.4.6
stack-data==0.2.0
starlette==0.26.1
sympy==1.11.1
tenacity==8.2.2
termcolor==2.2.0
thinc==8.1.9
threadpoolctl==3.1.0
tokenizers==0.13.2
tomli==2.0.1
tomli_w==1.0.0
torch==2.0.0
torchmetrics==0.11.4
torchvision==0.15.1
tqdm==4.63.0
traitlets==5.1.1
transformers @ git+https://github.com/huggingface/transformers@151425ddb29d4ad1a121e8cce62000a2ac52d3ba
triton==2.0.0
typed-ast==1.5.2
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.5.0
unicycler==0.5.0
urllib3==1.26.8
uvicorn==0.21.0
uvloop==0.17.0
virtualenv==20.13.2
wasabi==0.10.1
watchfiles==0.18.1
wcwidth==0.2.5
websockets==10.4
wrapt==1.15.0
yarl==1.8.2
zstandard==0.20.0
